<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div class="page">
        <header>
            <div class="nav-section"><div class="container">
                    <nav class="navbar navbar-toggleable-sm">
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#main-nav"
                            aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="fa fa-bars"></span>
                            </button>
                        <div class="logo">
                            <a href="http://newstreamdestudio.com" title="Everyday Things" class="navbar-brand"><img class="logo" src=<%=require( '../img/logo.svg') %> alt="Everyday Things" ></a>
                        </div>
                        <!-- /.logo -->
                    
                        <div class="collapse navbar-collapse" id="main-nav">
                            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        title="About Us">
                                    About Us
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Item 1</a>
                                        <a class="dropdown-item" href="#">Item 2</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        title="Design Corner">
                                    Design Corner
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li class="dropdown-item"><a href="#">Item 1</a></li>
                                        <li class="dropdown-item dropdown-sub-menu">
                                            <a href="#">Item 2  </a>
                                            <ul class="sub-menu">
                                                <li class="dropdown-item"><a href="#" title="Sub Item 1">Sub Item 1</a></li>
                                                <li class="dropdown-item"><a href="#" title="Sub Item 2">Sub Item 2</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        title="Products">
                                    Products
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Item 1</a>
                                        <a class="dropdown-item" href="#">Item 2</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Contact</a>
                                </li>
                            </ul>
                            <form class="form-inline my-2 my-lg-0">                   
                                <label class="sr-only" for="inlineFormInputGroup">Search</label>
                                <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search...">
                                </div>
                            </form>
                        </div>
                    </nav>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.nav-section -->
            <div class="container">
                <div class="row">
                    <div class="hero col-sm-6 offset-sm-6 ">
                        <h1>Add interest with natural textures</h1>
                        <a href="#" class="btn btn-outline-secondary" title="Get advice from top designers">Get advice from top designers</a>
                    </div>
                    <!-- /.hero -->
                </div>
                <!-- row -->
            </div>
            <!-- /.container -->
        </header>
        <div class="container">
            <section class="main row">
                <aside class="col-sm-4">
                    <div class="content">
                        <i class="icon star"></i>
                        <!-- First Aside -->
                        <h3><a href="#">What&apos;s trending</a></h3>
                        <p>Lorem ipsum dolor sit amet, consect etuer adipiscing elit. <a href="http://codifydesign.com">Morbi commodo</a>,
                            ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis.</p>
                        <!-- /.content -->
                </aside>
                <aside class="col-sm-4">
                    <div class="content">
                        <i class="icon marker"></i>
                        <!-- Second Aside -->
                        <h3><a href="#">Where to find it</a></h3>
                        <p>Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis.
                            Nullam sit amet enim. Lorem ipsum dolor sit amet, consect.</p>
                    </div>
                    <!-- /.content -->
                </aside>
                <aside class="col-sm-4">
                    <div class="content">
                        <i class="icon gear"></i>
                        <!-- Third Aside -->
                        <h3><a href="#">Tools of the trade</a></h3>
                        <p>Nullam sit amet enim. Lorem ipsum dolor sit amet, consect etuer adipiscing elit. Morbi commodo, ipsum
                            sed pharetra gravida, orci rhoncus neque, id pulvinar odio.</p>
                    </div>
                    </div>
                    <!-- /.content -->
                </aside>
            </section>
            <!-- /.main -->
        </div>
        <!-- /.container -->
            
            
        <div class="container">
            <section class="atmosphere row justify-content-center">
                <div class="col-md-6">
                    <img src=<%= require('../img/photo_lounge.jpg') %> alt="Lounge">
                </div> <!-- col-md-6 -->
                <article class="col-md-6">
                    <h2>Creating a modern atmosphere</h2>
                    <p>Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Lorem
                        ipsum dolor sit amet etuer adipiscing elit. Pulvinar odio lorem non turpis. Nullam sit amet enim lorem.</p>
                    <a href="#" class="btn btn-outline-secondary btn-sm" title="Creating a modern atmosphere">Learn more</a>
                </article>
            </section>
            <!-- /.atmosphere -->
        </div>
        <!-- /.container -->
            
        <div class="container">
            <section class="how-to row">
                <aside class="col-sm-3">
                    <div class="content">
                        <img src=<%=require( '../img/photo_seating.jpg') %> alt="Choosing the proper seating">
                        <!-- First Aside -->
                        <h4>How-To: Seating</h4>
                        <p>Consectetuer adipiscing elit. Morbi commodo ipsum sed gravida orci magna rhoncus pulvinar odio lorem.
                        </p>
                        <a title="Learn how to choose the proper seating." href="http://codifydesign.com">Learn more</a>
                    </div>
                    <!-- /.content -->
                </aside>
                <aside class="col-sm-3">
                    <div class="content">
                        <img src=<%=require( '../img/photo_lighting.jpg') %> alt="Choosing the proper lighting">
                        <!-- Second Aside -->
                        <h4>How-To: Lighting</h4>
                        <p>Morbi commodo, ipsum sed pharetra gravida magna rhoncus neque id pulvinar odio lorem non turpis nullam
                            sit amet.</p>
                        <a title="Learn how to choose the proper lighting." href="http://codifydesign.com">Learn more</a>
                    </div>
                    <!-- /.content -->
                </aside>
                <div class="col-md-6">
                    <blockquote>
                        <!-- Blockquotee -->
                        <p class="quote">Lorem ipsum dolor sit amet conse ctetuer adipiscing elit. Morbi comod sed dolor sit amet consect adipiscin
                            elit.
                        </p>
                        <p class="credit"><strong>Author Name</strong> <br> <em>Business Title</em> <br> Company</p>
                    </blockquote>
                </div>
            </section>
            <!-- /.how-to -->
        </div>
        <!-- /.container -->

        <footer class="container">
            <ul>    
                <li>&copy; Everyday Things</li>
                <li> <a href="#" title="Privacy Policy">Privacy Policy</a></li>
                <li><a href="#" title="Terms of Service">Terms of Service</a></li>        
            </ul>    
        </footer>
    </div>
    <!-- /#page -->
</body>

</html>