<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
    <div class="page">
        <header class="container">
            <div class="row">
                <a href="http://newstreamdestudio.com" class="logo" title="Everyday Things">Everyday Things</a>
                <div class="hero">
                    <h1>Add interest with natural textures</h1>
                    <a href="#" class="btn btn-primary" title="Get advice from top designers">Get advice from top designers</a>
                </div>
                <!-- /.hero -->
            </div>
            <!-- row -->
        </header>
        <div class="container">
            <div class="row">
                <section class="main">
                    <aside>
                        <div class="content">
                            <!-- First Aside -->
                            <h3><a href="#">What&apos;s trending</a></h3>
                            <p>Lorem ipsum dolor sit amet, consect etuer adipiscing elit. <a href="http://codifydesign.com">Morbi commodo</a>,
                                ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis.</p>
                            <!-- /.content -->
                    </aside>
                    <aside>
                        <div class="content">
                            <!-- Second Aside -->
                            <h3><a href="#">Where to find it</a></h3>
                            <p>Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non
                                turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consect.</p>
                        </div>
                        <!-- /.content -->
                    </aside>
                    <aside>
                        <div class="content">
                            <!-- Third Aside -->
                            <h3><a href="#">Tools of the trade</a></h3>
                            <p>Nullam sit amet enim. Lorem ipsum dolor sit amet, consect etuer adipiscing elit. Morbi commodo,
                                ipsum sed pharetra gravida, orci rhoncus neque, id pulvinar odio.</p>
                        </div>
                        </div>
                        <!-- /.content -->
                    </aside>
                </section>
                <!-- /.main -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <div class="container">
            <div class="row">
                <section class="atmosphere">
                    <article>
                        <h2>Creating a modern atmosphere</h2>
                        <p>Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis.
                            Lorem ipsum dolor sit amet etuer adipiscing elit. Pulvinar odio lorem non turpis. Nullam sit
                            amet enim lorem.</p>
                        <a href="#" class="btn btn-outline-success btn-sm" title="Creating a modern atmosphere">Learn more</a>
                    </article>
                </section>
                <!-- /.atmosphere -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <div class="container">
            <div class="row">
                <section class="how-to">
                    <aside>
                        <div class="content">
                            <img src=<%=require( '../img/photo_seating.jpg') %> alt="Choosing the proper seating">
                            <!-- First Aside -->
                            <h4>How-To: Seating</h4>
                            <p>Consectetuer adipiscing elit. Morbi commodo ipsum sed gravida orci magna rhoncus pulvinar odio
                                lorem.
                            </p>
                            <a title="Learn how to choose the proper seating." href="http://codifydesign.com">Learn more</a>
                        </div>
                        <!-- /.content -->
                    </aside>
                    <aside>
                        <div class="content">
                            <img src=<%=require( '../img/photo_lighting.jpg') %> alt="Choosing the proper lighting">
                            <!-- Second Aside -->
                            <h4>How-To: Lighting</h4>
                            <p>Morbi commodo, ipsum sed pharetra gravida magna rhoncus neque id pulvinar odio lorem non turpis
                                nullam sit amet.</p>
                            <a title="Learn how to choose the proper lighting." href="http://codifydesign.com">Learn more</a>
                        </div>
                        <!-- /.content -->
                    </aside>
                    <blockquote>
                        <!-- Blockquotee -->
                        <p class="quote">Lorem ipsum dolor sit amet conse ctetuer adipiscing elit. Morbi comod sed dolor sit amet consect
                            adipiscin elit.
                        </p>
                        <p class="credit"><strong>Author Name</strong> <br> <em>Business Title</em> <br> Company</p>
                    </blockquote>
                </section>
                <!-- /.how-to -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <div class="container">
            <div class="row">
                <nav>
                    <ul>
                        <li>
                            <a href="#" title="About Us">About Us</a>
                            <ul>
                                <li><a href="#" title="Sub Item 1">Sub Item 1</a></li>
                                <li><a href="#" title="Sub Item 2">Sub Item 2</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Design Corner">Design Corner</a>
                            <ul>
                                <li><a href="#" title="Sub Item 1">Sub Item 1</a></li>
                                <li><a href="#" title="Sub Item 2">Sub Item 2</a></li>
                                <li>
                                    <a href="#" title="Sub Item 3">Sub Item 3</a>
                                    <ul>
                                        <li><a href="#" title="Sub Sub Item 1">Sub Sub Item 1</a></li>
                                        <li><a href="#" title="Sub Sub Item 2">Sub Sub Item 2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Products">Products</a>
                            <ul>
                                <li><a href="#" title="Sub Item 1">Sub Item 1</a></li>
                                <li><a href="#" title="Sub Item 2">Sub Item 2</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" title="Contact Us">Contact Us</a>
                        </li>
                    </ul>
                </nav>
                <!-- nav -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <footer class="container">
            <div class="row">&copy; Everyday Things
                <div class="content">
                    <a href="#" title="Privacy Policy">Privacy Policy</a>
                    <a href="#" title="Terms of Service">Terms of Service</a>
                </div>
                <!-- content -->
            </div>
            <!-- /.row -->
        </footer>
    </div>
    <!-- /#page -->
</body>

</html>