.nav-section {
    background: $bg;
}
.navbar-nav {
    li {
        a.nav-link {
            color: $white;
            font-weight: 400;

            @include media-breakpoint-down(lg) {
                font-size: 14px;
            }
        }
    }

    li.nav-item {
        &:hover {
            border: 1px solid $white;
        }

        @include media-breakpoint-up(xl) {
            margin-right: 1.5em;
        }

        @include media-breakpoint-up(lg) {
            margin-right: 1em;
        }
    }
}

.dropdown-menu {
    border-radius: 0;

    .dropdown-item {
        position: relative;
        border-radius: 0;
        color: $link-color;
        
        a {
            color: $link-color;
            
            &:hover {
                text-decoration: none;
                color: $link-hover-color;
            }

            @include media-breakpoint-down(lg) {
                font-size: 14px;
            }
        }

        @include media-breakpoint-down(lg) {
            font-size: 14px;
        }
    }
    
    .dropdown-sub-menu {

        .sub-menu {
            display: none;
        }

        &:hover {
            .sub-menu {
                position: absolute;
                display: block;
                left: 100%;
                top: 0;
                background: $white;
                padding: 5px;
                list-style: none;

                a {
                    color: $link-color;

                    @include media-breakpoint-down(lg) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

.navbar-toggler {
    align-self: flex-start;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: $white;
    border: 1px solid $white;
    border-radius: 0.25rem;

    .fa-bars {
        padding: 5px;
    }
}

.navbar-toggler-right {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.navbar-toggleable-sm {
    @include media-breakpoint-down(md) {
        flex-direction: column;

        .form-inline .input-group {
            width: 200px;
            height: 33px;

            input[type="text"] {
                font-size: .9em;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        flex-direction: row;

        .form-inline .input-group {
            width: 100%;
            height: auto;
        }
    }
}

.navbar input.form-control {
    border-radius: 0 5px 5px 0;
}

.navbar-brand {
    @include media-breakpoint-down(md) {
        text-align: center;
        img.logo {
            width: 35%;
            height: auto;
        }
    }
}