.navbar-nav {
    li {
        a.nav-link {
            color: $white;
        }
    }
}

.dropdown-menu {
    border-radius: 0;

    .dropdown-item {
        position: relative;
        border-radius: 0;
        color: $link-color;
        
        a {
            color: $link-color;
            
            &:hover {
                text-decoration: none;
                color: $link-hover-color;
            }
        }
    }
    
    .dropdown-sub-menu {

        .sub-menu {
            display: none;
        }

        &:hover {
            .sub-menu {
                position: absolute;
                display: block;
                left: 100%;
                top: 0;
                background: $white;
                padding: 0;
                list-style: none;
            }
        }
    }
}