header {
    height: 430px;
    background: $red url(../img/banner_1200.jpg) no-repeat center bottom;
    background-size: cover;
    position: relative;
}

img.logo {
    width: 200px;
    height: auto;
}

.hero {
    h1 {
        color: $white;
    }
}