.main {
    .content {
        text-align: center;

        i.icon {
            display: block;
            width: 75px;
            height: 75px;
            margin: 20px auto;
            background-size: contain;
        }

        .star {
            background: url('../img/icon_star.svg') no-repeat center center;
        }

        .marker {
            background: url('../img/icon_marker.svg') no-repeat center center;
        }

        .gear {
            background: url('../img/icon_gear.svg') no-repeat center center;
        }
    
        h3 a {
            color: $black;
        }
    }
}

.atmosphere {
    background: $brand-primary;
    color: $white;
}

.how-to {
    background: $brand-secondary;
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0;
    
    .content {
        img {
            width: 80%;
            margin-bottom: 1em;
        }
    }

    blockquote {
        background: $white;
        @include container(80%);
        padding: 2em;
        position: absolute;
        bottom: -3em;

        &::before {
            content: '"';
            display: inline-block;
            font-size: 5em;
            color: $brand-primary;
        }

        p.quote {
            margin-left: 3em;
            margin-top: -5em;
        }
        
        p.credit {
            margin-left: 3em;
        } 
    }
}